
<div>
    <h2><span>News Subscription</span> {{vm.newsSubscription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.newsSubscription.name}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.newsSubscription.email}}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
            <span>{{vm.newsSubscription.createdOn | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-subscription-detail.edit({id:vm.newsSubscription.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
